dataset:
  type: hf_retina
  name: drive
  hf_name: Zomba/DRIVE-digital-retinal-images-for-vessel-extraction
  image_key: image
  mask_key: label
  train_split: train
  test_split: validation
  val_ratio: 0.2
  size: 384
  sar: false
  batch_size: 4
  num_workers: 4
